@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply text-sm transition-all duration-300 placeholder:text-stone-400 focus:ring focus:outline-none focus:ring-sky-400 w-full rounded-full border border-stone-300 px-4 py-2 md:px-6 md:py-3;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #ff3d00;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
